// LOGO
.logo {
	// height: 8rem;
	padding-top: 8rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include media('<=phone') {
		justify-content: center;
	}
}

// Background Pattern
.main {
	position: relative;
	// overflow: hidden;
	// Background Pattern image
	&::after {
		content: '';
		display: block;
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../../public/assets/home/bg-pattern-header.svg');
		width: 113.4rem;
		height: 113.4rem;
		top: -60rem;
		left: 48%;
		z-index: 0;
		@include media('<=phone') {
			width: 45.8rem;
			height: 45.8rem;
			left: 4rem;
			top: -25rem;
		}
	}
}

// I'm not sure how its doing it but this has removed the x axis overflow caused by the header background above!
#__next {
	overflow: hidden;
}

// HERO
.hero {
	padding-top: 11rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 8rem;
	@include media('<=phone') {
		flex-direction: column-reverse;
		padding-bottom: 4rem;
	}
	&__content {
		max-width: 54rem;
		width: 100%;
		height: 53.6rem;
		text-align: left;
		z-index: 1;

		@include media('<=tablet') {
			max-width: 34.5rem;
			height: 35.2rem;
		}
		@include media('<=phone') {
			text-align: center;
		}
	}
	&--title {
		margin: 0;
	}
	&--para {
		padding-top: 2.4rem;
		padding-right: 3.4rem;
		padding-bottom: 3.2rem;
		@include media('<=phone') {
			padding-right: 0rem;
		}
	}

	// puts image over the background image
	&__image {
		z-index: 1;
		@include media('<=tablet') {
			max-width: 28.1rem;
			width: 100%;
		}
	}
}

//PLANS
.plans {
	padding-top: 10rem;
	padding-bottom: 5rem;
	@include media('<=desktop') {
		padding-top: 6rem;
	}
	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		align-items: center;
		@include media('<=desktop') {
			grid-template-columns: 1fr;
		}

		grid-gap: 2rem;
		border-radius: 1.3rem;
	}

	&__basic {
		background-color: $white;
		border-radius: 1.3rem;
	}

	&__pro {
		position: relative;
		background-color: $blue;
		border-radius: 1.3rem;
		overflow: hidden;
		z-index: 999;

		&::before {
			content: '';
			position: absolute;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url('../../public/assets/home/bg-pattern-pricing.svg');
			width: 88rem;
			height: 88rem;
			top: -40rem;
			z-index: -1;
			left: -27rem;
			@include media('<=desktop') {
				top: -25rem;
				left: -33rem;
			}
			@include media('<=phone') {
				top: -38rem;
				left: -27rem;
			}
		}

		.head--white {
			color: $white;
		}
		h3,
		p {
			color: $white;
			z-index: 1;
		}
	}

	&__ultimate {
		background-color: $white;
		border-radius: 1.3rem;
	}

	&--card {
		display: grid;
		justify-content: center;
		align-content: center;
		max-width: 35rem;
		text-align: center;
		// box-shadow: 0 5rem 5rem -2.5rem rgba(75,92,154,.25);
		height: 100%;
		padding: 4rem 6.4rem;
		z-index: 999;
		@include media('<=desktop') {
			max-width: 68rem;
			width: 100%;
			margin: 0 auto;
			grid-template-columns: repeat(2, 1fr);
			justify-self: start;
			align-items: center;
			grid-template-rows: 1fr;
			text-align: left;
			padding: 4.8rem 4.8rem;
		}
		@include media('<=phone') {
			max-width: 32.7rem;
			width: 100%;
			margin: 0 auto;
			grid-template-columns: 1fr;
			text-align: center;
		}

		.btn {
			@include media('<=desktop') {
				margin-right: 12rem;
			}
			@include media('<=phone') {
				margin: 0 auto;
			}
		}
	}

	&--type {
		font-size: 2rem;
		@include media('<=desktop') {
			grid-row: 1 / 1;
		}
	}

	&--price {
		font-size: 5.6rem;
		padding-top: 4rem;
		@include media('<=desktop') {
			grid-row: 1 / 1;
		}
	}

	&--billing {
		padding-top: 0.8rem;
	}

	&--info {
		margin-top: 5.6rem;
		margin-bottom: 3.2rem;
		text-align: center;
		p:first-child {
			padding-bottom: 1.6rem;
		}
		p:nth-child(2) {
			padding-bottom: 1.6rem;
		}
		@include media('<=desktop') {
			text-align: left;
		}
		@include media('<=phone') {
			text-align: center;
		}
	}
}

// COUNTDOWN
.countdown {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $darkBlue;
	margin-top: -25rem;
	padding-top: 35rem;
	padding-bottom: 9rem;
	height: 60rem;
	overflow: hidden;
	@include media('<=desktop') {
		height: 98.6rem;
		margin-top: -60rem;
	}
	@include media('<=phone') {
		height: 124.8rem;
		margin-top: -85rem;
	}

	&::before {
		content: '';
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../../public/assets/home/bg-pattern-footer.svg');
		background-position: left center;
		width: 203rem;
		height: 203rem;
		top: -60rem;
		right: 34rem;
		z-index: 0;
		@include media('<=desktop') {
			width: 145.4rem;
			height: 145.4rem;
			top: 3rem;
			bottom: 0rem;
			left: -25rem;
		}
		@include media('<=phone') {
			top: 3rem;
			left: -55rem;
		}
	}

	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media('<=desktop') {
			height: 100%;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			max-width: 44.8rem;
			// width: 100%;
			text-align: center;
		}
		@include media('<=phone') {
			max-width: 32.8rem;
			width: 100%;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	&__coming--soon {
		letter-spacing: 0.5rem;
		margin-bottom: 2rem;
		color: $white;
	}

	&__day {
		@include media('<=desktop') {
			margin: 0 auto;
		}
	}
	&--days {
		color: $blue;
	}

	&__timer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1.6rem;
		justify-content: center;
		align-items: center;
		@include media('<=desktop') {
			margin-bottom: 4.8rem;
		}
		&--card {
			padding: 1.6rem;
			background-color: $darkGrey;
			@include flexCenter;
			flex-direction: column;
			border-radius: 1.3rem;
			max-width: 10rem;
			height: 12.8rem;
			z-index: 3;
			@include media('<=phone') {
				border-radius: 0.4rem;
			}
		}
		&--number {
			font-size: 5.6rem;
			font-weight: 700;
			line-height: 4.8rem;
			color: $white;
			@include media('<=phone') {
				font-size: 3.2rem;
			}
		}

		&--desc {
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 2.8rem;
			opacity: 0.5;
			color: $white;
			margin-top: 0.3rem;
			@include media('<=phone') {
				font-weight: 1.2rem;
			}
		}
	}
}
