.signup {
	position: relative;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		max-width: 54rem;
		margin-top: 15rem;
	}

	&--desc {
		font-size: 1.8rem;
	}

	&__content {
		margin-bottom: 0;
	}

	&__countdown {
		margin-top: 6rem;
	}

	&__coming--soon {
		letter-spacing: 0.5rem;
		margin-bottom: 2rem;
		color: $darkBlue;
	}

	&--days {
		color: $blue;
	}

	&__timer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1.6rem;
		justify-content: center;
		align-items: center;
		&--card {
			padding: 1.6rem;
			background-color: $buttonSecondary;
			@include flexCenter;
			flex-direction: column;
			border-radius: 1.3rem;
			max-width: 10rem;
			height: 12.8rem;
			// z-index: 3;
		}
		&--number {
			font-size: 5.6rem;
			font-weight: 700;
			line-height: 4.8rem;
			color: $blue;
		}

		&--desc {
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 2.8rem;
			opacity: 0.5;
			color: $darkGrey;
			margin-top: 0.3rem;
		}
	}
}

.signups {
	height: auto;
}

// .signup__background {
// 	position: absolute;
// 	right: 0;
// 	top: -30rem;
// 	width: 42rem;
// 	background-repeat: no-repeat;
// 	background-color: $darkGrey;
// 	height: 1152px;
// 	z-index: -1;
// 	margin-top: -30rem;
// }

.signup__background {
	position: fixed;
	height: 100%;
	width: 42rem;
	z-index: -1;
	top: 0;
	right: 0;
	background-color: $darkGrey;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../../public/assets/sign-up/bg-pattern-side.svg');
	background-position: -30rem -30rem;
}

// .signbg {
// 	position: relative;
// 	&:after {
// 		content: '';
// 		position: absolute;
// 		background-size: cover;
// 		background-repeat: no-repeat;
// 		background-image: url('../../public/assets/sign-up/bg-pattern-side.svg');
// 		background-position: left center;
// 	}
// }

.form-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-p {
	// position: absolute;
	// top: 0;
	// right: 0;
	// max-width: 44.5rem;
	// // height: 50.8rem;
	// background: pink;
	// padding: 4.2rem;
	position: absolute;
	width: 44.5rem;
	height: 50.8rem;
	right: 20rem;
	top: 10rem;

	background: #ffffff;
	box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
	border-radius: 13px;
}

.text-input,
.select-input {
	width: 36rem;
	height: 4.5rem;
	padding-left: 1.6rem;
	margin-bottom: 2.4rem;
	border: none;
	outline: none;
	border-bottom: 1px solid $lightGrey;
	appearance: none;

	&:hover {
		cursor: pointer;
	}

	&::placeholder {
		font-size: 1.6rem;
		line-height: 2.8rem;
		color: $lightGrey;
		font-weight: 400;
	}
}

.selector {
	position: relative;
}

.custom--arrow {
	content: '';
	position: absolute;
	display: block;
	width: 5.9rem;
	height: 2.8rem;
	cursor: pointer;
	top: 0;
	right: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../../public/assets/sign-up/icon-arrow-down.svg');

	&.active {
		transform: rotate(-180deg);
	}
}

.form {
	// &--plan {
	// 	color: #ffffff;
	// 	padding: 8px 16px;
	// 	border: 1px solid transparent;
	// 	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	// 	cursor: pointer;
	// 	user-select: none;
	// }

	&--type {
		background: red;
	}
}

select option {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	position: absolute;
	background-color: DodgerBlue;
	bottom: -10rem;
	left: 0;
	right: 0;
	z-index: 99;
}
