@import '../abstracts/mixins';
// HERO
.hero {
	&__inner {
		display: flex;
		height: 65rem;
	}
	&__content {
		width: 42.361%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $pureBlack;
		padding: 0rem 2rem;
		&--inner {
			width: 40rem;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			color: $pureWhite;
			text-align: left;
		}
		&--description {
			padding-top: 2rem;
			padding-right: 2.5rem;
			opacity: 0.6;
		}

		&--cta {
			display: inline-block;
			color: $pureWhite;
			padding-top: 4.8rem;
			font-size: 1.2rem;
			position: relative;
			transition: all 0.3s ease-in;
			&::after {
				content: '';
				position: absolute;
				top: 5.5rem;
				right: -6rem;
				width: 4.2rem;
				height: 1.2rem;
				background-size: cover;
				background-image: url('/assets/shared/desktop/arrowWhite.svg');
			}
		}
	}
	&__image {
		background-image: url('/assets/home/desktop/create-and-share.jpg');
		width: 57.639%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: $pureWhite;
	}
}
