// COLOURS
$blue: #5175ff;
$lightBlue: #829cff;
$darkBlue: #25293a;
$darkGrey: #333950;
$lightGrey: #747b95;
$orange: #f05b5b;
$white: #ffffff;
$buttonSecondary: #e4eaff;
$buttonSecondaryHover: #d3dcff;
